body {
    background: linear-gradient(to right, rgb(25, 25, 75), rgb(25, 25, 255));
}


h1{
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px grey;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.navbar ul{
    list-style-type: none; /*remove bullet points*/
    background-color: blue;
    padding: 0px;
    margin: 0px;
}
.navbar a{
    color: white;
    text-decoration: none ;
}
p{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    overflow-wrap: break-word; /* Ensures long words wrap to the next line */
    word-wrap: break-word; /* Ensures compatibility */
    overflow: hidden; /* Prevents horizontal scrolling */
    white-space: normal; /* Prevents text from staying in a single line */
}
